<!DOCTYPE html>
<html>
  <head>
    <title>Clock Angle</title>
  </head>
  <body>
    <h1>Clock Angle Calculator</h1>
    <form action="/calculated" method="post">
    <label for="hour">Hour (1 - 12)</label>
    <input id="hour" name="hour" type="number">
    <p>:</p>
    <label for="minute">Minute (00 - 59</label>
    <input id="minute" name="minute" type="number">
    <button type="submit">Submit</button>
    </form>
  </body>
</html>